<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome (back) !</title>
    </head>
    <body>
        <header>
            <%- include('partials/_header') %>
        </header>
        <main>
            <form action="" method="post">
                <input type="text" name="username" placeholder="Username"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <button type="submit">Go !</button>
            </form>
        </main>
        <footer>
            <%- include('partials/_footer') %>
        </footer>
    </body>
</html>