<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home !</title>
    </head>
    <body>
        <header>
            <%- include('partials/_header') %>
        </header>
        <main>
            <% if(is_authenticated){ %> 
                <h1>You are <%= username %> !</h1>
            <% }else{ %>
                <h1>How did you even got there ?...</h1>
            <% } %>
        </main>
        <footer>
            <%- include('partials/_footer') %>
        </footer>
    </body>
</html>